html {
  font-family: Verdana, sans-serif, sans-serif;
  font-size: 62.5%;
  color: #000; }

body {
  font-size: 1.5em;
  line-height: 1.618em;
  font-weight: 400; }

a {
  text-decoration: none;
  color: #000; }

a.disabled {
  cursor: default;
  background-color: #d9d9d9; }

ul {
  list-style: none;
  padding: 0px; }

h1 {
  font-size: 1.7rem;
  line-height: 2.8rem;
  text-align: center; }

main {
  display: block;
  width: 100%; }

a.user-list {
  display: block;
  border: 1px solid #000;
  margin-bottom: 10px; }

a.user-list > img.avatar {
  height: 80px;
  width: 80px;
  z-index: -100; }

a.user-list > span {
  display: block;
  height: 100%;
  width: 100%; }

/* Adapt to desktop screens */
@media only screen and (min-width: 300px) {
  main {
    max-width: 300px;
    margin: 100px auto; } }
/* Error handling */
#error {
  display: block;
  position: fixed;
  top: 300px;
  left: -150px;
  margin-left: 50%;
  width: inherit;
  background-color: red; }

/* Adapt to desktop screens */
@media only screen and (min-width: 300px) {
  #error {
    max-width: 300px; } }
