label,
input,
button {
    color: $form-color;
    border-style: $input-border-style;
    border-width: $input-border-width-stack;
    border-color: $input-border-color;
    padding: 7px;
    box-sizing : border-box;
}
label.stacked,
input.stacked {
    border-top-width: 0px;
    display: block;
}
label.stacked.first,
input.stacked.first {
    border-top-width: $input-border-width;
}