/* Default colors */
$color: #000;
$border-color: #000;

/* Form colors */
$form-color: $color;
$input-border-color: green;

/* Errors colors */
$error-color: red;
$error-border-color: red;
$error-bg-color: pink;